<?xml version="1.0"?>
<config>
    <modules>
        <Encomage_Quotes>
            <version>0.0.1</version>
        </Encomage_Quotes>
    </modules>
    <global>
        <blocks>
            <encomage_quotes>
                <class>Encomage_Quotes_Block</class>
            </encomage_quotes>
        </blocks>
        <helpers>
            <encomage_quotes>
                <class>Encomage_Quotes_Helper</class>
            </encomage_quotes>
        </helpers>
        <models>
            <encomage_quotes>
                <class>Encomage_Quotes_Model</class>
                <resourceModel>quotes_resource</resourceModel>
            </encomage_quotes>
            <quotes_resource>
                <class>Encomage_Quotes_Model_Resource</class>
                <entities>
                    <quote>
                        <table>encomage_quotes</table>
                    </quote>
                </entities>
            </quotes_resource>
        </models>
        <resources>
            <quotes_setup>
                <setup>
                    <module>Encomage_Quotes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quotes_setup>
            <quotes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quotes_write>
            <quotes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quotes_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <Encomage_Quotes>
                <use>standard</use>
                <args>
                    <module>Encomage_Quotes</module>
                    <frontName>quotes</frontName>
                </args>
            </Encomage_Quotes>
        </routers>
        <layout>
            <updates>
                <encomage_quotes>
                    <file>encomage/quotes.xml</file>
                </encomage_quotes>
            </updates>
        </layout>
    </frontend>
    <adminhtml>    
        <layout>
            <updates>
                <encomage_quotes>
                    <file>encomage/quotes.xml</file>
                </encomage_quotes>
            </updates>
        </layout>
    </adminhtml>
   <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <encomage_quotes before="Mage_Adminhtml">Encomage_Quotes_Adminhtml</encomage_quotes>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
</config>
